html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.opening {
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sup {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.paddle {
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 50px;
}

.wave {
    margin-left: 50px;
}

.paddleboarding {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.paddle-text {
    text-align: justify;
    margin: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tour {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.waves {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.raft-icon {
    margin-right: 100px;
}

.raft {
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 50px;
    padding-left: 10%;
}

.rafting {
    background-color: green;
    border-radius: 10px;
    width: 110%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.rafting-text {
    text-align: justify;
    margin: 20px;
}

.rafting-images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.roads {
    background-color: yellow;
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

.off-road {
    background-color: yellowgreen;
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

.road-text {
    text-align: justify;
    margin: 20px;
}

.off-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rapids {
    background-color: darkred;
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

.kayaking {
    background-color: darkorange;
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kayak-text {
    text-align: justify;
    margin: 20px;
}

.kayaking-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.agency {
    background-color: purple;
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.agency-text {
    text-align: justify;
    margin: 20px;
}

.outdoors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
    max-height: 50%;
}

.rental {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.equipment {
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 50px;
}

.bicykle-tracks {
    margin-left: 50px;
}

.cross {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bicycle {
    max-width: 90%;
    max-height: 90%;
    padding-left: 30px;
}

.pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.mistral {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.wolf {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.quatro {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.boards {
    max-width: 90%;
    max-height: 90%;
    padding-left: 30px;
}

.filming {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.film-icon {
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 50px;
}

.film-header {
    margin-left: 50px;
}

.film-support {
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.riverwood {
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
}


.film-text {
    text-align: justify;
    padding-left: 20px;
}

.frame {
    padding-left: 45px;
}

.ending {
    float: right;
    padding-right: 20px;
    width: 100px;
    height: 100px;
}

/* .frame {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 50%; */
/* } */

/* .ending {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */